<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The middleware server</title>
  <link rel="stylesheet" href="static/index.css" />
</head>
<body>
  <header>
    <div class="container">
      <h1>Windows</h1>
    </div>
  </header>

  <main>
    <div class="container">
      <h1>Try to get browser url from iframe</h1>
      
      <button id="getUrl">Get</button>
    </div>
  </main>

  <footer>
    <div class="container">
      <p>Created by <a target="_blank" href="https://shining-present.ru">Filipp Zhuravlev</a> with love</p>
    </div>
  </footer>

  <script defer src="axios/dist/axios.min.js"></script>
  <script defer src="static/templates/test/index.js"></script>
</body>
</html>